body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(231 231 232);
}
main {
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px black solid;
  width: 204px;
  height: 310px;
  border-radius: 5px;
  margin-top: 100px;
  padding: 14px 10px 14px 10px;
  background-color: #bbbabc;
  box-shadow: 3px 3px 3px #bbbabc;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 4px 4px 12px 4px;
  padding: 4px;
  border: 1px black solid;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px #7c7c7c;
  overflow: hidden;
}
.display-top {
  font-size: 16px;
  height: 1em;
  overflow: hidden;
  direction: ltr; 
  white-space: nowrap;
}
.display-main {
  font-size: 24px;
  height: 26px;
  overflow: hidden;
}

button {
  font-size: 22px;
  margin: 4px;
  padding: 4px 8px;
  width: 40px;
  height: 40px;
  background-color: #989799;
  border: 1px black solid;
  box-shadow: 1px 1px 1px #7c7c7c; 
}
button:hover {
  background-color: #8c8b8d;
}

button:active {
  background-color: #7c7c7c;
}

.button-clear {
  background-color: rgb(170, 80, 80);
}
.button-clear:hover {
  background-color: rgb(146, 69, 69);
}

.button-clear:active {
  background-color: rgb(131, 61, 61);
}

.button-equals {
  background-color: rgb(123, 132, 182);
}
.button-equals:hover {
  background-color: rgb(109, 117, 161);
}

.button-equals:active {
  background-color: rgb(101, 108, 151);
}

footer {
  background-color: rgb(101, 108, 151);
  color:rgb(235, 235, 235);
  padding: 20px;
  margin: 40px 0px 0px 0px;
  text-align: center;
}
footer img {
  margin-right: 3px;
}

footer a, footer a:visited {
  color:rgb(235, 235, 235);
}

footer a:active, footer a:hover {
  color:rgb(131, 61, 61);
}

.github {
  height: 18px;
  margin: 0 4px 0 2px;
}