body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px black solid;
  margin-top: 50px;
  padding: 4px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 4px;
  padding: 4px;
  border: 1px black solid;
}
.display-top {
  font-size: 16px;
  height: 1em;
}
.display-main {
  font-size: 24px;
  height: 1em;
}

button {
  font-size: 22px;
  margin: 4px;
  padding: 4px 8px;
  width: 40px;
  height: 40px;
}
